<div class="predicates">
  <p>I'm predicates</p>
    <!-- predicate-datas="predicatesCtrl.predicateDatas" -->
    <!-- ng-repeat="predicate in predicatesCtrl.predicates track by $index" -->
  <predicate-item
    ng-repeat="predicate in predicatesCtrl.predicates"
    predicate-select="predicatesCtrl.predicates[$index]"
    default-predicate="predicatesCtrl.defaultPredicates[$index]"
    predicate-datas="predicatesCtrl.baseDatas"
    last-datas="predicatesCtrl.lastDatas"
    config="predicatesCtrl.predicateConfig"
    add-item="predicatesCtrl.addItem()"
    decrease-item="predicatesCtrl.decreaseItem($index)"
  >
  </predicate-item>
  <!-- <predicate-item tabs="predicatesCtrl.data.predicates" selected="predicatesCtrl.selected"> </predicate-item> -->
</div>
