.predicates {
  width: 1050px;
  height: 100px;
  margin: auto;
  background-color: #fff;

  predicate-item{
    &:not(:last-child) {
      .predicate-item {
        border-bottom-style: none;
      }
    }

    &:nth-of-type(1) {
      .predicate-item {
        border-radius: 4px 4px 0 0;
      }
    }

    &:last-child {
      .predicate-item {
        border-radius: 0 0 4px 4px;
      }

      &:nth-of-type(1) {
        .predicate-item {
          border-radius: 4px;
        }
      }
    }
  }

  .datetime-input {
    padding: 0 10px;
  }

  .message-bottom {
    vertical-align: middle;
  }
}
