<div class="predicates">
  <p>I'm predicates</p>
  <predicate-item
    ng-repeat="predicate in predicatesCtrl.predicatesSelect"
    predicate-select="predicatesCtrl.predicatesSelect[$index]"
    default-predicate="predicatesCtrl.defaultPredicatesFilter[$index]"
    predicate-datas="predicatesCtrl.baseDatas"
    last-datas="predicatesCtrl.lastDatas"
    config="predicatesCtrl.predicateConfig"
    add-item="predicatesCtrl.addItem()"
    decrease-item="predicatesCtrl.decreaseItem($index)"
  >
  </predicate-item>
</div>
