<div
  class="base-select"
  >
  <!-- predicate-item -->
    <!-- ng-model="baseSelectCtrl.baseSelected" -->
  <dao-select
    ng-model="baseSelectCtrl.baseSelected.data"
    with-search="true"
    with-tab="true"
    search-placeholder="搜索条件"
    default-title="选择过滤条件"
  >

    <dao-tabset class="dao-tabset dao-tabset-sm">
      <dao-tab
        ng-repeat="tab in baseSelectCtrl.baseDatas"
        heading="{{tab.tabName}}"
      >

        <dao-option-group
          ng-repeat="label in tab.labels"
          label="{{label.optionsName}}"
          no-option-tip="未找到符合条件的结果"
          >
            <!-- value="option.name || option.event_name" -->

          <dao-option
            tab-name="{{tab.tabName}}"
            value="option"
            text="option.name || option.event_name"
            ng-repeat="option in label.options"
            ng-click="baseSelectCtrl.onhandleClick(tab.tabType, label.optionsType)"
            >
            <!-- onclick="{{baseSelectCtrl.onhandleClick()}}" -->
          </dao-option>

        </dao-option-group>
      </dao-tab>
    </dao-tabset>

  </dao-select>

</div>

<!-- baseSelected -->

