<div class="predicate-item">
  <base-select
    base-datas="predicateItemCtrl.predicateDatas"
    base-selected="predicateItemCtrl.predicateSelected.baseSelected"
  >
  </base-select>

  <second-select
    second-datas="predicateItemCtrl.predicateSelected.baseSelected.data"
    second-selected="predicateItemCtrl.predicateSelected.secondSelected"
  >
  </second-select>

  <last-select
    base-datas="predicateItemCtrl.predicateSelected.baseSelected.data"
    last-datas="predicateItemCtrl.lastDatas"
    last-selected="predicateItemCtrl.predicateSelected.lastSelected"
  >
  </last-select>

  <div>
    <p>
    <!-- 没显示 -->
      baseSelected: {{predicateItemCtrl.baseSelected}}
    </p>
  </div>
</div>